<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-book-copy-heading" data-cy="BookCopyCreateUpdateHeading" jhiTranslate="projectMiniApp.bookCopy.home.createOrEditLabel">
        Create or edit a Book Copy
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="projectMiniApp.bookCopy.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_yearPublished" jhiTranslate="projectMiniApp.bookCopy.yearPublished">Year Published</label>
          <input
            type="number"
            class="form-control"
            name="yearPublished"
            id="field_yearPublished"
            data-cy="yearPublished"
            formControlName="yearPublished"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_publisher" jhiTranslate="projectMiniApp.bookCopy.publisher">Publisher</label>
          <select
            class="form-control"
            id="field_publisher"
            data-cy="publisher"
            name="publisher"
            formControlName="publisher"
            [compareWith]="comparePublisher"
          >
            <option [ngValue]="null"></option>
            @for (publisherOption of publishersSharedCollection; track $index) {
              <option [ngValue]="publisherOption">{{ publisherOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_book" jhiTranslate="projectMiniApp.bookCopy.book">Book</label>
          <select class="form-control" id="field_book" data-cy="book" name="book" formControlName="book" [compareWith]="compareBook">
            <option [ngValue]="null"></option>
            @for (bookOption of booksSharedCollection; track $index) {
              <option [ngValue]="bookOption">{{ bookOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
