<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (notification()) {
      <div>
        <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="projectMiniApp.notification.detail.title">Notification</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ notification()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="projectMiniApp.notification.sentAt">Sent At</span></dt>
          <dd>
            <span>{{ notification()!.sentAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="projectMiniApp.notification.type">Type</span></dt>
          <dd>
            <span>{{ notification()!.type }}</span>
          </dd>
          <dt><span jhiTranslate="projectMiniApp.notification.patronAccount">Patron Account</span></dt>
          <dd>
            @if (notification()!.patronAccount) {
              <div>
                <a [routerLink]="['/patron-account', notification()!.patronAccount?.id, 'view']">{{ notification()!.patronAccount?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/notification', notification()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
